<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h2 align="center">Liste des recettes</h2></br></br>
        
        <%= render 'recettes', obj: @recette %>
    </div>     
</div>
        