<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <h2 align="center">Liste des recettes</h2></br></br>
        <div align="center">
            <%= will_paginate @recette %>
        </div>
        <%= render 'recettes', obj: @recette %>
         <div align="center">
            <%= will_paginate @recette %>
        </div>
    </div>     
</div>
        