<h2 align = "center">Bienvenue <%= @user.username %></h2>
<div class= "row">
    <div class = "col-sm-4 col-sm-offset-4 center">
        <%= gravatar_for @user, size: 120%>
    </div>
</div>
<h4 align= "center">Recettes de <%= @user.username %></h4></br>
<div class= "row">
    <div class = "col-sm-8 col-sm-offset-2">
        <%= render 'recettes/recettesu', obj: @user.recettes %>
    </div>
</div>
